AI_Support_Copilot/n8n/P1_v1_Walking_Skeleton.json
{
  "name": "P1 Phase 1 - Gmail to Jira Walking Skeleton",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {
          "readStatus": "unread"
        },
        "options": {}
      },
      "id": "6e3b53ab-494d-4a36-8b56-737c21fe8aa1",
      "name": "Gmail Trigger - New Support Email",
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.2,
      "position": [
        -208,
        368
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "MHpZHvdWEzRDIZK5",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "email_subject",
              "name": "email_subject",
              "value": "={{ $json.subject || \"No subject\" }}",
              "type": "string"
            },
            {
              "id": "email_sender",
              "name": "email_sender",
              "value": "={{ $json.from.value[0].address || $json.from.text || \"unknown_sender\" }}",
              "type": "string"
            },
            {
              "id": "email_body",
              "name": "email_body",
              "value": "={{ $json.text || $json.html || $json.textAsHtml || \"No body found\" }}",
              "type": "string"
            },
            {
              "id": "email_message_id",
              "name": "email_message_id",
              "value": "={{ $json.messageId || $json.id || \"no_message_id\" }}",
              "type": "string"
            },
            {
              "id": "received_at",
              "name": "received_at",
              "value": "={{ $json.date || $now }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "1262b65d-fb4d-4414-a420-13b4b16dcedd",
      "name": "Set - Normalize Email Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        80,
        368
      ]
    },
    {
      "parameters": {
        "project": {
          "__rl": true,
          "value": "10000",
          "mode": "list",
          "cachedResultName": "Digital Workplace Support"
        },
        "issueType": {
          "__rl": true,
          "value": "10003",
          "mode": "list",
          "cachedResultName": "Task"
        },
        "summary": "={{$json.email_subject}}",
        "additionalFields": {
          "description": "=Support request created from Gmail.\\n\\nSender: {{$json.email_sender}}\\nReceived at: {{$json.received_at}}\\nMessage ID: {{$json.email_message_id}}\\n\\nEmail body:\\n{{$json.email_body}}"
        }
      },
      "id": "78fb0e1b-3b37-4a1c-8021-9b187693c8e1",
      "name": "Jira - Create Support Ticket",
      "type": "n8n-nodes-base.jira",
      "typeVersion": 1,
      "position": [
        352,
        368
      ],
      "credentials": {
        "jiraSoftwareCloudApi": {
          "id": "GalFNLQs6aR5X1cu",
          "name": "Jira SW Cloud account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger - New Support Email": {
      "main": [
        [
          {
            "node": "Set - Normalize Email Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set - Normalize Email Data": {
      "main": [
        [
          {
            "node": "Jira - Create Support Ticket",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "c5ca5559-a8ca-4563-ac79-17d8ddb1ce17",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "914a0a12ecf873cb66abd1408140c0efe8cc93028beb43be95d3601bac87ebed"
  },
  "id": "IlG4A2Jaje4e0jUQ",
  "tags": [
    {
      "updatedAt": "2026-06-12T11:44:26.909Z",
      "createdAt": "2026-06-12T11:44:26.909Z",
      "id": "CntF8cWSSG2Xo1Y2",
      "name": "Phase 1"
    },
    {
      "updatedAt": "2026-06-12T11:44:26.904Z",
      "createdAt": "2026-06-12T11:44:26.904Z",
      "id": "R46sM8X0QoQ1PQDO",
      "name": "Portfolio"
    },
    {
      "updatedAt": "2026-06-12T11:44:26.897Z",
      "createdAt": "2026-06-12T11:44:26.897Z",
      "id": "opPXepS1gNdck34V",
      "name": "YesDear"
    }
  ]
}