AI_Support_Copilot/n8n/P1_v2_AI_Classification.json
{
  "name": "P1_v2_AI_Classification",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {
          "readStatus": "unread"
        },
        "options": {}
      },
      "id": "cd853366-6ac3-4919-90e9-985ad312bb48",
      "name": "Gmail Trigger - New Support Email",
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "MHpZHvdWEzRDIZK5",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "email_subject",
              "name": "email_subject",
              "value": "={{ $json.subject || \"No subject\" }}",
              "type": "string"
            },
            {
              "id": "email_sender",
              "name": "email_sender",
              "value": "={{ $json.from.value[0].address || $json.from.text || \"unknown_sender\" }}",
              "type": "string"
            },
            {
              "id": "email_body",
              "name": "email_body",
              "value": "={{ $json.text || $json.html || $json.textAsHtml || \"No body found\" }}",
              "type": "string"
            },
            {
              "id": "email_message_id",
              "name": "email_message_id",
              "value": "={{ $json.messageId || $json.id || \"no_message_id\" }}",
              "type": "string"
            },
            {
              "id": "received_at",
              "name": "received_at",
              "value": "={{ $json.date || $now }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "a4ba3aaf-b6c4-41d5-83b0-1849394d0102",
      "name": "Set - Normalize Email Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        288,
        0
      ]
    },
    {
      "parameters": {
        "project": {
          "__rl": true,
          "value": "10000",
          "mode": "list",
          "cachedResultName": "Digital Workplace Support"
        },
        "issueType": {
          "__rl": true,
          "value": "10003",
          "mode": "list",
          "cachedResultName": "Task"
        },
        "summary": "={{$json.ai_summary}}",
        "additionalFields": {
          "description": "=Category: {{$json.category}}\nPriority: {{$json.priority}}\nProduct Area: {{$json.product_area}}\nSuggested Team: {{$json.team}}\nConfidence: {{$json.confidence}}\n\nSender: {{$json.email_sender}}\nReceived at: {{$json.received_at}}\nMessage ID: {{$json.email_message_id}}\n\nOriginal Email:\n{{$json.email_body}}"
        }
      },
      "id": "d64540a4-d718-4786-be95-ceabed06c9d4",
      "name": "Jira - Create Enriched Support Ticket",
      "type": "n8n-nodes-base.jira",
      "typeVersion": 1,
      "position": [
        1072,
        0
      ],
      "credentials": {
        "jiraSoftwareCloudApi": {
          "id": "GalFNLQs6aR5X1cu",
          "name": "Jira SW Cloud account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "You are a support ticket classification assistant. \nReturn raw JSON only.\n\nDo not use markdown.\nDo not use code fences.\nDo not use ```json.\nReturn only a JSON object."
            },
            {
              "content": "Classify this support request.\n\nCategories:\nAccess Request, Permission Request, Publishing Issue, Training Request, Bug Report, Feature Request, Documentation Request, Other.\n\nPriorities:\nCritical, High, Medium, Low.\n\nReturn JSON with:\ncategory\npriority\nproduct_area\nteam\nconfidence\nsummary\n\nSubject:\n{{ $json.email_subject }}\n\nBody:\n{{ $json.email_body }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        496,
        0
      ],
      "id": "12820b96-0588-40ba-a941-f2ebdfeb9907",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "sRIcwxyeXGe4qhX9",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const item = $input.item.json;\n\nconst raw = item.output?.[0]?.content?.[0]?.text || '';\n\nlet parsed;\n\ntry {\n  parsed = JSON.parse(raw);\n} catch (error) {\n  parsed = {\n    category: 'Other',\n    priority: 'Medium',\n    product_area: 'General Platform',\n    team: 'Operations Support',\n    confidence: 0,\n    summary: 'AI classification failed. Manual review required.'\n  };\n}\n\nconst email = $('Set - Normalize Email Data').first().json;\n\nreturn {\n  json: {\n    email_subject: email.email_subject,\n    email_sender: email.email_sender,\n    email_body: email.email_body,\n    email_message_id: email.email_message_id,\n    received_at: email.received_at,\n\n    category: parsed.category,\n    priority: parsed.priority,\n    product_area: parsed.product_area,\n    team: parsed.team,\n    confidence: parsed.confidence,\n    ai_summary: parsed.summary\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        848,
        0
      ],
      "id": "52fa2e9b-6b00-4ab1-b2b3-be3c89873827",
      "name": " Classify Support Request"
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger - New Support Email": {
      "main": [
        [
          {
            "node": "Set - Normalize Email Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set - Normalize Email Data": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": " Classify Support Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    " Classify Support Request": {
      "main": [
        [
          {
            "node": "Jira - Create Enriched Support Ticket",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "449ad797-6223-4c82-97c7-1005dee48117",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "914a0a12ecf873cb66abd1408140c0efe8cc93028beb43be95d3601bac87ebed"
  },
  "id": "AOqlPcMYa0xejh51",
  "tags": [
    {
      "updatedAt": "2026-06-12T11:44:26.909Z",
      "createdAt": "2026-06-12T11:44:26.909Z",
      "id": "CntF8cWSSG2Xo1Y2",
      "name": "Phase 1"
    },
    {
      "updatedAt": "2026-06-12T13:34:06.890Z",
      "createdAt": "2026-06-12T13:34:06.890Z",
      "id": "GH9L4dhTxQjCIjHi",
      "name": "Phase 2"
    },
    {
      "updatedAt": "2026-06-12T11:44:26.904Z",
      "createdAt": "2026-06-12T11:44:26.904Z",
      "id": "R46sM8X0QoQ1PQDO",
      "name": "Portfolio"
    },
    {
      "updatedAt": "2026-06-12T11:44:26.897Z",
      "createdAt": "2026-06-12T11:44:26.897Z",
      "id": "opPXepS1gNdck34V",
      "name": "YesDear"
    }
  ]
}