AI_Support_Copilot/n8n/P1_v3_Knowledge_Assisted_Service_Desk_GitHub_KB.json
{
  "name": "P1_v3_Knowledge_Assisted_Service_Desk_GitHub_KB",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {
          "readStatus": "unread"
        },
        "options": {}
      },
      "id": "63688f64-cac0-4bcd-9d34-6ebdfa4cfe7d",
      "name": "Gmail Trigger - New Support Email",
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.2,
      "position": [
        -128,
        -160
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "MHpZHvdWEzRDIZK5",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "email_subject",
              "name": "email_subject",
              "value": "={{ $json.subject || \"No subject\" }}",
              "type": "string"
            },
            {
              "id": "email_sender",
              "name": "email_sender",
              "value": "={{ $json.from.value[0].address || $json.from.text || \"unknown_sender\" }}",
              "type": "string"
            },
            {
              "id": "email_body",
              "name": "email_body",
              "value": "={{ $json.text || $json.html || $json.textAsHtml || \"No body found\" }}",
              "type": "string"
            },
            {
              "id": "email_message_id",
              "name": "email_message_id",
              "value": "={{ $json.messageId || $json.id || \"no_message_id\" }}",
              "type": "string"
            },
            {
              "id": "received_at",
              "name": "received_at",
              "value": "={{ $json.date || $now }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "417e7575-15ca-4bc4-b3ed-c71b4c5446df",
      "name": "Set - Normalize Email Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        176,
        -160
      ]
    },
    {
      "parameters": {
        "project": {
          "__rl": true,
          "value": "10000",
          "mode": "list",
          "cachedResultName": "Digital Workplace Support"
        },
        "issueType": {
          "__rl": true,
          "value": "10003",
          "mode": "list",
          "cachedResultName": "Task"
        },
        "summary": "={{$json.ai_summary}}",
        "additionalFields": {
          "description": "=Category: {{$json.category}}\nPriority: {{$json.priority}}\nProduct Area: {{$json.product_area}}\nSuggested Team: {{$json.team}}\nAssignment Group: {{$json.assignment_group}}\nConfidence: {{$json.confidence}}\nSLA: {{$json.sla}}\n\nKnowledge Article: {{$json.resolved_knowledge_article}}\n\nRecommended Resolution:\n{{$json.recommended_resolution}}\n\nNext Actions:\n- {{$json.next_actions}}\n\nSender: {{$json.email_sender}}\nReceived at: {{$json.received_at}}\nMessage ID: {{$json.email_message_id}}\n\nOriginal Email:\n{{$json.email_body}}"
        }
      },
      "id": "8597cb2a-a57b-4821-9e98-16378050e672",
      "name": "Jira - Create Enriched Support Ticket",
      "type": "n8n-nodes-base.jira",
      "typeVersion": 1,
      "position": [
        1744,
        -160
      ],
      "credentials": {
        "jiraSoftwareCloudApi": {
          "id": "GalFNLQs6aR5X1cu",
          "name": "Jira SW Cloud account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "You are a support ticket classification assistant. \nReturn raw JSON only.\n\nDo not use markdown.\nDo not use code fences.\nDo not use ```json.\nReturn only a JSON object."
            },
            {
              "content": "Classify this support request.\n\nRules:\nIf the user cannot access SharePoint, receives Access Denied, lost access, or needs access restored, classify as Access Request.\n\nCategories:\nAccess Request, Permission Request, Publishing Issue, Training Request, Bug Report, Feature Request, Documentation Request, Other.\n\nPriorities:\nCritical, High, Medium, Low.\n\nReturn JSON with:\ncategory\npriority\nproduct_area\nteam\nconfidence\nsummary\n\nSubject:\n{{ $json.email_subject }}\n\nBody:\n{{ $json.email_body }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        384,
        -160
      ],
      "id": "b64930af-f36f-4530-a0c1-e774ccd51f95",
      "name": "OpenAI - Classify Support Request",
      "credentials": {
        "openAiApi": {
          "id": "sRIcwxyeXGe4qhX9",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const item = $input.item.json;\n\nconst raw = item.output?.[0]?.content?.[0]?.text || '';\n\nlet parsed;\n\ntry {\n  parsed = JSON.parse(raw);\n} catch (error) {\n  parsed = {\n    category: 'Other',\n    priority: 'Medium',\n    product_area: 'General Platform',\n    team: 'Operations Support',\n    confidence: 0,\n    summary: 'AI classification failed. Manual review required.'\n  };\n}\n\nconst email = $('Set - Normalize Email Data').first().json;\n\nreturn {\n  json: {\n    email_subject: email.email_subject,\n    email_sender: email.email_sender,\n    email_body: email.email_body,\n    email_message_id: email.email_message_id,\n    received_at: email.received_at,\n\n    category: parsed.category || 'Other',\n    priority: parsed.priority || 'Medium',\n    product_area: parsed.product_area || 'General Platform',\n    team: parsed.team || 'Operations Support',\n    confidence: parsed.confidence ?? 0,\n    ai_summary: parsed.summary || email.email_subject || 'Support request'\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        688,
        -160
      ],
      "id": "bc889d9f-1c05-473f-82ef-a44ed0d67f36",
      "name": "Code - Parse Classification"
    },
    {
      "parameters": {
        "jsCode": "const baseUrl = \"https://raw.githubusercontent.com/NodrrS/P1_Digital_Workplace_Support_Copilot/main/knowledge-base/\";\n\nconst articles = {\n  \"Access Request\": \"sharepoint-access.md\",\n  \"Permission Request\": \"permissions-request.md\",\n  \"Publishing Issue\": \"publishing-issue.md\",\n  \"Training Request\": \"editor-training.md\",\n  \"Documentation Request\": \"documentation-request.md\",\n  \"Bug Report\": \"bug-report.md\",\n  \"Feature Request\": \"feature-request.md\",\n  \"Other\": \"general-support.md\"\n};\n\nconst fileName = articles[$json.category] || articles[\"Other\"];\n\nreturn {\n  json: {\n    ...$json,\n    knowledge_article: fileName,\n    article_url: baseUrl + fileName\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        864,
        -160
      ],
      "id": "6aadeea4-7bc2-40d7-9d57-a64b6a36ad9a",
      "name": "Code - Knowledge Base Lookup"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "You are a digital workplace service desk assistant. Return raw JSON only. Do not use markdown. Do not use code fences. Return only a JSON object."
            },
            {
              "content": "=Create a support engineer resolution plan based on the knowledge article and support request.\n\nReturn JSON only.\n\nRequirements:\n- recommended_resolution must be an array of numbered troubleshooting or resolution steps.\n- Steps must be practical and actionable.\n- assignment_group must be a support team name as plain text.\n- sla must be a plain text value, never an object.\n- next_actions must be an array of concise action items.\n- knowledge_article must contain the knowledge article filename.\n- Do not return markdown.\n- Do not return explanations.\n- Do not wrap JSON in code blocks.\n\nExpected JSON structure:\n{\n  \"recommended_resolution\": [\n    \"Step 1\",\n    \"Step 2\",\n    \"Step 3\"\n  ],\n  \"knowledge_article\": \"article-name.md\",\n  \"assignment_group\": \"Support Team\",\n  \"sla\": \"Initial Response: 4 Hours, Resolution Target: 1 Business Day\",\n  \"next_actions\": [\n    \"Action 1\",\n    \"Action 2\",\n    \"Action 3\"\n  ]\n}\n\nClassification:\nCategory: {{$node[\"Code - Knowledge Base Lookup\"].json[\"category\"]}}\nPriority: {{$node[\"Code - Knowledge Base Lookup\"].json[\"priority\"]}}\nProduct Area: {{$node[\"Code - Knowledge Base Lookup\"].json[\"product_area\"]}}\nSuggested Team: {{$node[\"Code - Knowledge Base Lookup\"].json[\"team\"]}}\n\nKnowledge Article File:\n{{$node[\"Code - Knowledge Base Lookup\"].json[\"knowledge_article\"]}}\n\nKnowledge Article Content:\n{{$json.data}}\n\nOriginal Email:\n{{$node[\"Code - Knowledge Base Lookup\"].json[\"email_body\"]}}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        1248,
        -160
      ],
      "id": "4792c8ad-2524-428d-afaa-e71c4094dd44",
      "name": "OpenAI - Recommend Resolution",
      "credentials": {
        "openAiApi": {
          "id": "sRIcwxyeXGe4qhX9",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const item = $input.item.json;\n\nconst raw = item.output?.[0]?.content?.[0]?.text || '';\n\nlet parsed;\n\ntry {\n  parsed = JSON.parse(raw);\n} catch (error) {\n  parsed = {\n    recommended_resolution: ['Resolution recommendation failed. Manual review required.'],\n    knowledge_article: 'Unknown',\n    assignment_group: 'Support',\n    sla: 'Manual review',\n    next_actions: ['Review original request', 'Assign to support team']\n  };\n}\n\nconst email = $('Set - Normalize Email Data').first().json;\nconst classification = $('Code - Parse Classification').first().json;\nconst kb = $('Code - Knowledge Base Lookup').first().json;\n\nconst formattedResolution = Array.isArray(parsed.recommended_resolution)\n  ? parsed.recommended_resolution\n      .map((step, index) => `${index + 1}. ${step}`)\n      .join('\\n')\n  : parsed.recommended_resolution || 'Manual review required.';\n\nconst formattedNextActions = Array.isArray(parsed.next_actions)\n  ? parsed.next_actions.join('\\n- ')\n  : parsed.next_actions || 'Manual review required.';\n\nconst formattedSla = typeof parsed.sla === 'object'\n  ? JSON.stringify(parsed.sla)\n  : parsed.sla || 'Manual review';\n\nreturn {\n  json: {\n    email_subject: email.email_subject,\n    email_sender: email.email_sender,\n    email_body: email.email_body,\n    email_message_id: email.email_message_id,\n    received_at: email.received_at,\n\n    category: classification.category,\n    priority: classification.priority,\n    product_area: classification.product_area,\n    team: classification.team,\n    confidence: classification.confidence,\n    ai_summary: classification.ai_summary,\n\n    recommended_resolution: formattedResolution,\n    resolved_knowledge_article: parsed.knowledge_article || kb.knowledge_article || 'Unknown',\n    assignment_group: parsed.assignment_group || classification.team || 'Support',\n    sla: formattedSla,\n    next_actions: formattedNextActions\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1552,
        -160
      ],
      "id": "c9734340-cb2e-47d8-91d3-03614e025f15",
      "name": "Code - Parse Resolution Recommendation"
    },
    {
      "parameters": {
        "url": "={{$json.article_url}}",
        "options": {}
      },
      "id": "000c2c1d-04d4-4cc8-99e1-59aa7562d912",
      "name": "HTTP Request - Fetch Knowledge Article",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1088,
        -160
      ]
    },
    {
      "parameters": {
        "content": "## 🟨 Gmail Trigger - New Support Email\n\n\nPurpose:\nReceives incoming support requests.\n\nInput:\nUnread Gmail messages.\n\nOutput:\nRaw email data.\n\nRequired Setup:\n• Gmail OAuth connection\n• Dedicated support mailbox\n\nExamples:\nsupport@company.com\nhelpdesk@company.com",
        "height": 400
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -176,
        -608
      ],
      "typeVersion": 1,
      "id": "0a942a63-27c5-48a3-998d-787e29f32f18",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## 🟨 Set - Normalize Email Data\n\nPurpose:\nCreates a standard email structure.\n\nExtracts:\n• Subject\n• Sender\n• Body\n• Message ID\n• Timestamp\n\nOutput:\nClean support request payload.\n\nWhy:\nOpenAI and Jira require consistent field names.\n\n",
        "height": 384
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        128,
        -592
      ],
      "typeVersion": 1,
      "id": "1399cd90-a40c-467d-a7cd-85a32ac6e8a9",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## 🟨 OpenAI - Classify Support Request\n\nPurpose:\nAnalyzes the support request.\n\nDetermines:\n• Category\n• Priority\n• Product Area\n• Team\n• Confidence\n• Summary\n\nExample:\n\nInput:\n“Cannot access SharePoint”\n\nOutput:\n\nCategory:\nAccess Request\n\nPriority:\nHigh\n\nProduct Area:\nSharePoint\n\nTeam:\nAccess Management\n\n⸻",
        "height": 576,
        "width": 320
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        384,
        -752
      ],
      "typeVersion": 1,
      "id": "c02b4670-3cfb-4de6-885b-de17528a259f",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## 🟨 Code - Knowledge Base Lookup\n\nPurpose:\nMaps ticket category to knowledge article.\n\nExamples:\n\nAccess Request\n→ sharepoint-access.md\n\nBug Report\n→ bug-report.md\n\nFeature Request\n→ feature-request.md\n\nOutput:\n• Knowledge article name\n• GitHub article URL\n\nWhy:\nSelects correct support procedure.\n\n⸻\n\n",
        "height": 512
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        864,
        -704
      ],
      "typeVersion": 1,
      "id": "604daaf5-4b5e-4ed0-977d-88c1f14d5f56",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## 🟨 Code - Parse Classification\n\nPurpose:\nValidates OpenAI output.\n\nTasks:\n• Parse JSON\n• Handle errors\n• Create fallback values\n• Merge classification with email data\n\nOutput:\nClean classification object.\n\nWhy:\nPrevents workflow failure.\n\n⸻",
        "height": 368,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        672,
        16
      ],
      "typeVersion": 1,
      "id": "410167c5-5c9c-4dce-8af6-a7003444e45f",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## 🟨 HTTP Request - Fetch Knowledge Article\n\nPurpose:\nDownloads article from GitHub.\n\nSource:\nGitHub Raw URL\n\nExample:\n\nsharepoint-access.md\n\nOutput:\nFull article content.\n\nWhy:\nOpenAI needs article text to generate resolution guidance.\n\n⸻\n",
        "height": 400
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1088,
        32
      ],
      "typeVersion": 1,
      "id": "171c67a3-e57e-4abd-a13b-ae14eaa45fc1",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "## 🟨 OpenAI - Recommend Resolution\n\nPurpose:\nActs as AI support engineer.\n\nUses:\n• Ticket classification\n• Knowledge article\n• Original email\n\nGenerates:\n• Resolution steps\n• Assignment group\n• SLA\n• Next actions\n\nOutput:\nStructured support recommendation.\n\n⸻",
        "height": 448
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1232,
        -656
      ],
      "typeVersion": 1,
      "id": "eceabe21-649b-46be-8101-68f57bdfec52",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "## 🟨 Code - Parse Resolution Recommendation\n\nPurpose:\nFormats AI response.\n\nTasks:\n• Parse JSON\n• Format resolution steps\n• Format next actions\n• Convert SLA to text\n• Merge all data\n\nOutput:\nFinal support ticket object.\n\nWhy:\nJira requires clean text fields.\n\n⸻\n\n",
        "height": 400
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1552,
        32
      ],
      "typeVersion": 1,
      "id": "183ea12f-bb48-4f10-9b21-22f5458ced69",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "content": "## 🟨 Jira - Create Enriched Support Ticket\n\nPurpose:\nCreates final support ticket.\n\nIncludes:\n• AI summary\n• Category\n• Priority\n• Product Area\n• Team\n• Confidence\n• Knowledge article\n• Resolution steps\n• Next actions\n• Original email\n\nResult:\nReady-to-work support ticket.\n\nBusiness Value:\nSupport analyst receives a pre-triaged ticket with recommended troubleshooting steps.",
        "height": 528
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1728,
        -736
      ],
      "typeVersion": 1,
      "id": "64826afc-7f6b-4c12-8790-0570df5fbe98",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "content": "## 🟦 Digital Workplace Support Copilot\n\nGoal:\nConvert support emails into enriched Jira tickets using AI and a GitHub knowledge base.\n\nTech Stack:\n• Gmail\n• n8n\n• OpenAI GPT-4o-mini\n• GitHub\n• Jira\n\nCapabilities:\n✓ Email intake\n✓ AI classification\n✓ Knowledge retrieval\n✓ Resolution recommendation\n✓ Jira ticket creation\n\nVersion:\nv3 Knowledge-Assisted Support Copilot\n\nMaturity:\nPortfolio Ready / SMB Production Ready",
        "height": 464,
        "width": 768,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -672,
        -1136
      ],
      "typeVersion": 1,
      "id": "5ea4ca30-c82f-458e-9c96-2ccefea3b24e",
      "name": "Sticky Note9"
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger - New Support Email": {
      "main": [
        [
          {
            "node": "Set - Normalize Email Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set - Normalize Email Data": {
      "main": [
        [
          {
            "node": "OpenAI - Classify Support Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI - Classify Support Request": {
      "main": [
        [
          {
            "node": "Code - Parse Classification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Parse Classification": {
      "main": [
        [
          {
            "node": "Code - Knowledge Base Lookup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Knowledge Base Lookup": {
      "main": [
        [
          {
            "node": "HTTP Request - Fetch Knowledge Article",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI - Recommend Resolution": {
      "main": [
        [
          {
            "node": "Code - Parse Resolution Recommendation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Parse Resolution Recommendation": {
      "main": [
        [
          {
            "node": "Jira - Create Enriched Support Ticket",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request - Fetch Knowledge Article": {
      "main": [
        [
          {
            "node": "OpenAI - Recommend Resolution",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "8b570202-6a37-476d-807a-40c74b2689c4",
  "meta": {
    "instanceId": "914a0a12ecf873cb66abd1408140c0efe8cc93028beb43be95d3601bac87ebed"
  },
  "id": "kTqiIplTK5V2tta9",
  "tags": [
    {
      "updatedAt": "2026-06-12T11:44:26.909Z",
      "createdAt": "2026-06-12T11:44:26.909Z",
      "id": "CntF8cWSSG2Xo1Y2",
      "name": "Phase 1"
    },
    {
      "updatedAt": "2026-06-12T14:09:30.775Z",
      "createdAt": "2026-06-12T14:09:30.775Z",
      "id": "D8f2OjWGwhi9CnCZ",
      "name": "Phase 3"
    },
    {
      "updatedAt": "2026-06-12T13:34:06.890Z",
      "createdAt": "2026-06-12T13:34:06.890Z",
      "id": "GH9L4dhTxQjCIjHi",
      "name": "Phase 2"
    },
    {
      "updatedAt": "2026-06-12T11:44:26.904Z",
      "createdAt": "2026-06-12T11:44:26.904Z",
      "id": "R46sM8X0QoQ1PQDO",
      "name": "Portfolio"
    },
    {
      "updatedAt": "2026-06-12T11:44:26.897Z",
      "createdAt": "2026-06-12T11:44:26.897Z",
      "id": "opPXepS1gNdck34V",
      "name": "YesDear"
    }
  ]
}